{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/connectwithme_page.css' %}">
{% endblock css %}

{% block body %}
<div class="container my-5">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs d-flex justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aboutme_page' %}">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myskills_page' %}">My Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mytools_page' %}">My Tools</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" href="{% url 'connectwithme_page' %}">
                        Connect With Me
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body py-5">
            {% for connection in connections %}
            <a href={{connection.link}}>
                <img src={{connection.image}} class="m-2 p-2" />
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}